@import "../utils.scss";

.create {
  @include flex-center;
  min-height: calc(100vh - #{$height-navbar});

  &__card {
    @include card;
    width: 30rem;
    padding: 3rem 1.5rem;
  }

  &__form-control {
    @include form-control;
  }

  &__image-prompt {
    font-size: 0.85rem;
    display: block;
    margin-bottom: 0.25rem;
  }

  &__dropzone {
    height: 7.5rem;
    border-radius: 25px;
    background-color: lighten($color-muted, 18);
    margin-bottom: 1rem;

    &__inner {
      height: 100%;
      outline: none;
      cursor: pointer;
      padding: 0.75rem;
    }

    &__freearea {
      height: 100%;
      width: 100%;
      border-radius: 15px;
      border: 1px dashed transparent;
      transition: all 0.3s ease;

      &:hover {
        border: 1px dashed lighten($color-secondary, 15);

        p {
          color: $color-dark;
        }
      }

      @include flex-center;

      p {
        font-size: 1.1rem;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease;
        color: darken($color-muted, 10);
        padding-bottom: 1px;
      }

      &-hasfile {
        border: 1px dashed $color-secondary;

        p {
          color: $color-dark;
        }
      }
    }
  }

  &__submitBtn {
    @include btn;
    width: 100%;
  }
}
