@import "../utils.scss";

.forget-password {
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  @include flex-center;
  min-height: calc(100vh - #{$height-navbar});

  &__card {
    @include card;
    padding: 3rem 3rem;
    position: relative;

    &__title {
      margin-bottom: 0.5rem;
    }

    &__prompt {
      margin-bottom: 1rem;
    }
  }

  &__form-control {
    text-align: left;
    @include form-control;
    margin-bottom: 1rem;
  }

  %response-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0.75rem;
    font-size: 0.85rem;

    i {
      margin-right: 0.25rem;
    }
  }

  &__error {
    @extend %response-text;
    color: $color-error;
  }

  &__success {
    @extend %response-text;
    color: $color-success;
  }

  &__button {
    @include btn;
    width: 100%;

    i {
      margin-left: 0.5rem;
    }
  }
}
