@import "../utils.scss";

.forget-password {
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  @include flex-center;
  min-height: calc(100vh - #{$height-navbar});

  &__card {
    @include card;
    padding: 3rem 3rem;
    position: relative;

    &__title {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }

    &__prompt {
      margin-bottom: 1rem;
    }
  }

  &__form-control {
    text-align: left;
    @include form-control;
    margin-bottom: 1rem;
  }

  &__button {
    @include btn;
    width: 100%;

    i {
      margin-left: 0.5rem;
    }
  }
}
