@import "../utils.scss";

._container {
  &__inner {
    @include card;
  }

  &__title {
    margin: 2rem 0 1.5rem;
    width: fit-content;
    padding-bottom: 1px;
    border-bottom: 2px solid $color-secondary;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1px darken($color-muted, 30);

    thead {
      border-bottom: 1px solid lighten($color-muted, 15);
    }

    tr {
      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($color-muted, 15);
      }
    }

    td,
    th {
      text-align: right;
      padding: 0.5rem;
    }

    &__firstCol {
      text-align: left !important;
      padding-left: 1rem !important;
    }

    &__lastCol {
      padding-right: 1rem !important;
    }

    &__image {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: 3px;
    }

    &__button-update {
      @include roundBtn;
      margin-left: auto;
      background-color: $color-primary;

      i {
        color: $color-light;
      }
    }

    &__button-delete {
      @include roundBtn;
      margin-left: auto;
      background-color: lighten($color-light, 5);
      border: 1px solid #d9534f;

      i {
        color: #d9534f;
      }
    }
  }

  &__modalInner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__prompt {
      text-align: center;
      margin: 0.5rem 0;
    }

    &__delete {
      @include btn;
      padding: 0.2rem 0.7rem;
      font-size: 0.85rem;
    }
  }
}
