@import "../utils.scss";

._wrapper {
  &__title {
    margin: 2rem 0;
  }
}

._inner {
  display: flex;

  &__left {
    flex: 1;
    padding-right: 1rem;

    &__inner {
      @include card;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__action {
      color: darken($color-primary, 10);
      padding: 1px 0.5rem;
      border-radius: 2px;
      transition: all 0.2s ease;

      &:hover {
        background-color: darken($color-primary, 10);
        color: $color-light;
      }

      i {
        margin-right: 0.5rem;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__right {
    flex: 2.5;
    padding-left: 1rem;

    &__inner {
    }

    &__loadingBox {
      @include flex-center;
    }
  }

  &__delete {
    width: 95%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    &__prompt {
      line-height: 1.2;

      span {
        color: darken($color-secondary, 15);
        font-weight: 500;
      }
    }

    &__button {
      @include btn;
      margin-left: auto;
      font-size: 0.9rem;
      padding: 0.15rem 0.75rem;
    }
  }
}
