@import "../utils.scss";

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.35);
}

.navbar {
  background-color: $color-primary;
  box-shadow: 0 3px 10px rgba(#000, 0.25);

  &__mainAction {
    margin-right: auto;
    margin-left: 1.5rem;
    border-radius: 5rem;
    color: $color-light;
    background-color: $color-secondary;
    line-height: 1;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 7px rgba(#000, 0.1);
    transition: all 0.2s ease;
    font-weight: 500;

    &:hover {
      transform: translateY(-1px);
      background-color: lighten($color-secondary, 5);
      box-shadow: 0 3px 9px rgba(#000, 0.08);
    }

    &:active {
      transform: translateY(0);
      background-color: $color-secondary;
      box-shadow: 0 2px 7px rgba(#000, 0.1);
    }
  }

  &__menuBtn,
  &__closeBtn {
    display: none;
  }

  &__inner {
    height: $height-navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-light;
    @include container;
  }

  &__brand {
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: 600;

    & > span {
      color: $color-secondary;
    }
  }

  &__welcomeText {
    line-height: 1;
    font-weight: 500;
    min-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__links {
    height: 100%;
    @include flex-center;

    &__item {
      align-self: stretch;
      @include flex-center;
      padding: 0.25rem 1rem;
      color: $color-light;
      transition: all 0.3s ease;
      border-radius: 2px;
      background-color: inherit;
      width: 100%;

      &:last-child {
        margin-right: -0.25rem;
      }

      &:hover {
        background-color: lighten($color-primary, 3);
        color: $color-secondary;
      }

      & span {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

.content {
  @include container;
}

@media (max-width: 768px) {
  .navbar {
    &__brand {
      font-size: 1.75rem;
    }

    &__mainAction {
      margin-left: 0.75rem;
      font-size: 0.85rem;
      font-weight: 500;
    }

    &__links {
      height: 100%;
      @include flex-center;

      &__item {
        & span {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    &__mainAction {
      margin-left: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
    }

    &__menuBtn {
      display: initial;
      background-color: transparent;
      color: $color-secondary;
      transition: transform 0.2s ease;
      padding: 0.5rem;
      margin-right: -0.5rem;

      &:hover {
        transform: scale(1.05);
      }

      i {
        font-size: 1.5rem;
      }
    }

    &__closeBtn {
      display: initial;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: darken($color-light, 10);
      width: 2rem;
      height: 2rem;
      border-radius: 5rem;
      @include flex-center;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }

      i {
        font-size: 1.2rem;
        color: $color-secondary;
        margin-top: -1px;
      }
    }

    &__welcomeText {
      text-align: center;
      margin-bottom: 2rem;
    }

    &__links {
      display: initial;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: $color-light;
      z-index: 1;
      color: $color-dark;
      box-shadow: 0 3px 10px rgba(#000, 0.25);
      padding: 5rem 0 0;
      transition: all 0.3s ease;
      overflow: hidden;
      opacity: 0;

      &-drawerShow {
        width: 16rem;
        padding: 5rem 1rem 0;
        opacity: 1;
      }

      &__item {
        margin-bottom: 1rem;
        padding: 0.75rem 0;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 7px rgba(#000, 0.05);
        color: $color-primary;

        &:hover {
          color: $color-light;
        }
      }
    }
  }
}
