@import "../utils.scss";

._container {
  @include card;
  margin-bottom: 1.5rem;

  &__title {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.25;
  }

  &__date {
    font-size: 0.85rem;
    color: darken($color-muted, 35);
  }

  a {
    color: darken($color-primary, 15);
    font-size: 0.9rem;
    border-radius: 2px;
    transition: all 0.1s ease;
    display: inline-block;
    line-height: 1.3;

    // Force url to wrap
    word-wrap: break-word;
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  &__tags {
    span {
      background-color: darken($color-secondary, 15);
      color: $color-light;
      line-height: 1;
      padding: 0.1rem 0.3rem;
      font-size: 0.75rem;
      border-radius: 5px;
      font-weight: 500;

      &:not(:last-of-type) {
        margin-right: 2px;
      }
    }
  }

  &__views,
  &__user {
    font-size: 0.85rem;
    color: lighten($color-dark, 15);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }
    &:last-of-type {
      margin-top: 0.75rem;
    }
  }

  &__actions {
    display: flex;

    %card-action-btn {
      @include roundBtn;
      width: 1.75rem;
      height: 1.75rem;
      color: $color-light;

      i {
        font-size: 0.9rem;
      }
    }

    &-update {
      @extend %card-action-btn;
      background-color: $color-primary;
    }

    &-delete {
      @extend %card-action-btn;
      background-color: $color-secondary;
      margin-left: 0.25rem;
    }
  }
}

@media (max-width: $screen-sm) {
  ._container {
    margin-bottom: 1rem;

    &__title {
      font-size: 0.9rem;
      line-height: 1.2;
      flex: 7;
    }

    &__date {
      flex: 2.5;
      font-size: 0.7rem;
      @include flex-center;
      justify-content: flex-end;
    }

    a {
      line-height: 1.2;
      font-size: 0.85rem;
    }

    &__tags {
      span {
        font-size: 0.6rem;
      }
    }

    &__views,
    &__user {
      font-size: 0.75rem;
    }

    &__row {
      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
      &:last-of-type {
        margin-top: 0.5rem;
      }
    }

    &__actions {
      display: flex;
      %card-action-btn {
        @include roundBtn;
        transform: scale(0.9);
      }
    }
  }
}
